In [1]:
n=int(input())
for i in range(1,n+1):
  print('*'*n)

4
****
****
****
****

In [2]:
n=5
for i in range(1,n+1):
  if i==n:
    print('*'*n)
  else:
    print('*')

*
*
*
*
*****

In [7]:
n=5
for i in range(n,0,-1):
  print('*'*i)

*
**
***
****

In [9]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end='')
  print()

1
22
333
4444
55555

In [17]:
n=5
a=2
b=2
for i in range(1,n//2+2):
  print(' '*(b)+'*'*i)
  b=b-1
for i in range(1,n//2+1):
  print(' '*i+'*'*a)
  a=a-1

  *
 **
***
 **
  *

In [27]:
n=5
a=2
b=1
c=3
for i in range(1,n//2+2):
  print(' '*(a)+'*'*(2*i-1)+' '*(a))
  a=a-1
for i in range(n//2,0,-1):
  print(' '*(b)+'*'*(c)+'')
  b=b+1
  c=c-2

  *
 ***
*****
 ***
  *